@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "メイリオ", Meiryo;
  color: #434343;
  background-color: #f6f6f6;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 3px solid #f6ac4d;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding-top: 25px;
}

header #header_inner {
  width: 960px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header nav {
  margin-left: auto;
  font-size: 18px;
  margin-top: 30px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
  border-left: 1px dotted #434343;
  padding-left: 20px;
}

header nav ul li:last-child {
  border-right: 1px dotted #434343;
  padding-right: 20px;
}

header nav ul li a:hover {
  color: #f6ac4d;
}

#main_wrapper {
  width: 960px;
  height: auto;
  margin: 30px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main_wrapper #top_pickup {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: #fff;
  border: 1px solid #dcdddf;
}

#main_wrapper #top_pickup p#pickup_thumb {
  width: 100%;
  height: auto;
  position: relative;
}

#main_wrapper #top_pickup p#pickup_thumb #pickup_tag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 2px 10px;
  color: #fff;
  width: auto;
  height: 32px;
  line-height: 32px;
  background-color: rgba(246, 172, 77, 0.9);
}

#main_wrapper #top_pickup dl {
  padding: 15px 20px;
}

#main_wrapper #top_pickup dl dt {
  padding-bottom: 10px;
}

#main_wrapper #top_pickup dl dt a {
  font-size: 18px;
  font-weight: bold;
}

#main_wrapper #top_pickup dl dt a:hover {
  color: #f6ac4d;
}

#main_wrapper #top_pickup dl dd {
  font-size: 12px;
  font-weight: bold;
  color: #dcdddf;
}

#main_wrapper #top_ranking {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 360px;
  margin-left: 30px;
}

#main_wrapper #top_ranking h2 {
  font-size: 18px;
  font-weight: bold;
  background-image: url(images/popular_icon.png);
  background-repeat: no-repeat;
  padding-left: 37px;
  border-bottom: 1px solid #dcdddf;
  height: 30px;
}

#main_wrapper #top_ranking ul li {
  width: 100%;
  border-bottom: 1px dotted #dcdddf;
  margin-top: 15px;
  padding-bottom: 14px;
}

#main_wrapper #top_ranking ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#main_wrapper #top_ranking ul li dl {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main_wrapper #top_ranking ul li dl dt {
  width: 89px;
  height: 55px;
  margin-right: 10px;
  position: relative;
}

#main_wrapper #top_ranking ul li dl dt .ranking_number {
  font-size: 12px;
  font-weight: bold;
  background-color: #434343;
  border: 1px solid #fff;
  color: #fff;
  width: 19px;
  height: 19px;
  display: inline-block;
  text-align: center;
  line-height: 19px;
  position: absolute;
  top: 0;
  left: 0;
}

#main_wrapper #top_ranking ul li dl dd {
  width: auto;
  height: 55px;
}

#main_wrapper #top_ranking ul li dl dd h3 a {
  font-size: 13px;
  font-weight: bold;
}

#main_wrapper #top_ranking ul li dl dd .ranking_tag {
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}

#main_wrapper #top_ranking ul li dl dd .webdesign {
  background-color: rgba(246, 172, 77, 0.9);
}

#main_wrapper #top_ranking ul li dl dd .wordpress {
  background-color: #e18c7c;
}

#main_wrapper #top_ranking ul li dl dd .webmarketing {
  background-color: #acd598;
}

#top_wrapper {
  width: 960px;
  height: auto;
  margin: 30px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top_wrapper #top_left {
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  margin-right: 3%;
  height: auto;
}

#top_wrapper #top_left #top_category {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 10px;
  border: 10px solid #dcdddf;
}

#top_wrapper #top_left #top_category h3 {
  font-size: 18px;
  font-weight: bold;
  background-image: url(images/category_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  border-bottom: 1px dotted #dcdddf;
  padding-bottom: 10px;
}

#top_wrapper #top_left #top_category ul li {
  font-size: 13px;
  margin-top: 19px;
  line-height: 1;
}

#top_wrapper #top_left #top_category ul li:hover {
  color: #f6ac4d;
}

#top_wrapper #top_left #top_ad {
  margin-top: 30px;
}

#top_wrapper #top_right {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: auto;
}

#top_wrapper #top_right h3 {
  font-size: 22px;
  font-weight: bold;
  background-image: url(images/new_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

#top_wrapper #top_right #post_list li {
  background-color: #fff;
  border: 1px solid #dcdddf;
  margin-bottom: 30px;
}

#top_wrapper #top_right #post_list li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top_wrapper #top_right #post_list li dl dt {
  width: auto;
  height: 150px;
  margin-right: 20px;
  position: relative;
}

#top_wrapper #top_right #post_list li dl dt .new_category_tag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(246, 172, 77, 0.9);
  color: #fff;
  width: auto;
  height: 34px;
  line-height: 34px;
  display: inline-block;
}

#top_wrapper #top_right #post_list li dl dd {
  padding: 20px 20px 0 0;
}

#top_wrapper #top_right #post_list li dl dd h4 a {
  font-size: 16px;
  font-weight: bold;
}

#top_wrapper #top_right #post_list li dl dd .new_date {
  color: #dcdddf;
  font-size: 12px;
  background-image: url(images/new_date.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

#top_wrapper #top_right #post_list li dl dd .new_tag {
  color: #dcdddf;
  font-size: 12px;
  background-image: url(images/tag.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-left: 15px;
}

#top_wrapper #top_right #post_list li dl dd p {
  font-size: 13px;
  line-height: 21px;
  margin-top: 10px;
}

#top_wrapper #top_right #post_list li dl dd p a {
  color: #f6ac4d;
  text-decoration: underline;
}

#top_wrapper #top_right #pagination {
  width: 100%;
  height: 34px;
}

#top_wrapper #top_right #pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#top_wrapper #top_right #pagination ul li {
  width: auto;
  height: 32px;
  background-color: #fff;
  border: 1px solid #dcdddf;
  margin-left: 10px;
}

#top_wrapper #top_right #pagination ul li a {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 0 8px;
  display: inline-block;
}

footer {
  width: 100%;
  height: 140px;
  background-color: #fff;
  border-top: 1px solid #dcdddf;
  margin-top: 60px;
  padding: 20px 0;
}

footer #footer_inner {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer_inner dl dt {
  width: 210px;
  height: 50px;
  margin-bottom: 20px;
}

footer #footer_inner dl dd {
  font-size: 13px;
  line-height: 21px;
}

footer #footer_inner #contact {
  width: 370px;
  height: auto;
  margin-left: auto;
}

footer #footer_inner #contact h4 {
  font-size: 16px;
  font-weight: bold;
}

footer #footer_inner #contact h4 span {
  font-size: 12px;
  margin-left: 10px;
  font-weight: normal;
}

footer #footer_inner #contact textarea {
  border: 1px solid #dcdddf;
  width: 100%;
  height: 35px;
  margin: 10px;
}

footer #footer_inner #contact input {
  background-color: #7e7e7e;
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  margin-left: 84%;
  font-size: 12px;
}

footer #footer_inner #contact input:hover {
  opacity: 0.8;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */